nav {
  background-color:firebrick;
  height: 65px;
  width: 100%;
  position: relative;
}

#index-link {
  position: absolute;
  color: white;
  font-size: 45px;
  top: -70%;
  left: 1%;
  text-decoration: none;
}

.link {
  float:right;
  position: relative;
  font-family: Calibri, sans-serif;
  font-size: 45px;
  color: white;
  text-decoration: none;
  top: -45px;
  margin-right: 2%;
}

.movie-list {
  position: relative;
  margin-bottom: 1%;
  margin-top: 0%;
  padding: 0;
}

#search-bar {
  border-style: solid;
  border-color: firebrick;
  border: 1px solid firebrick;
  position: relative;
  left: 35%;
  width: 600px;
  height: 30px;
  margin-top: 3%;
  background-color: black;
  text-align: center;
  color: firebrick;
}

body {
  background-color: black;
}

.see-all-movies {
  position: relative;
  right: 160px;
  bottom: 10px;
  font-size: 40px;
  text-align: right;
  text-decoration-color:  firebrick;
  color: firebrick;
}

#search-box {
  margin-bottom: -2%;
}

#search-bar::-webkit-search-cancel-button{
  color: red; 
}

.category-title {
  position: relative;
  text-align: left;
  bottom: -90px;
  font-size: 60px;
  margin-left: 5%;
  color: white;
}

.category-title-all {
  float:inherit;
  text-align: center;
  color: white;
  font-size: 60px;
}

.back-button {
  position: relative;
  float: left;
  background-color: black;
  border: 1px solid black;
  color: firebrick;
  left: 20%;
  top: 11px;
  font-size: 50px;
}

.all-movie-list {
  display: inline-block;
  position: relative;
}


#search-results {
  background-color: #1a1a19;
  margin-top: 2%;
}

#movie-page {
  position: relative;
  text-align: center;
}

#movie-info {
  align-items: center;
}

.movie-page-image {
  position: absolute;
  left: 30%;
  top: 25px;
}

.movie-page-title {
  position: absolute;
  color: white;
  top: -60%;
  left: 42%;
  font-size: 350%;
}

.movie-page-summary {
  position:absolute;
  color: white;
  width: 38%;
  height: 350px;
  top: 300%;
  left: 42%;
  font-size: 16px;
}

#movie-page-genre {
  position: absolute;
  color: blue;
  font-size: 40px;
  top: 35px;
  left: 42%;
}

#imdb-id {
  position: absolute;
  color: orchid;
  font-size: 20px;
  top: 130px;
  left: 42%;
}

#movie-page-premiered {
  position: absolute;
  color: yellow;
  left: 42%;
  top: 180px;
}

.episode-details {
  position: absolute;
  color: red;
  display: inline-block;
  vertical-align: middle;
}

.movie-image{
  display: inline-block;
  vertical-align: middle;
  height: 295px;
  width: 210px;
  transition: transform .2s;
}

.movie-image:hover {
  transform: scale(1.1);
}

#movie-seasons {
  text-align: center;
}

.episode-pic {
  width: 250px;
  height: 140px;
}

.season-link {
  color: black;
  position: absolute;
  display: inline;
  margin-right: 0.5%;
  font-size: 20px;
}

.episode-info {
  text-align: center;
  background-color: gray;
}


textarea:focus, input:focus{
  outline: none;
}